### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

*.idea/*
*syncthing*
*sync-conflict*
.run_this_shit.sh
*.listing
*.pdf
*.synctex.gz
*.toc
*.aux 
*.bcf 
*.fdb_lat
*.fls 
*.log 
*.out
*.run.xml 
*.synctex
*.tox
